
.loader{
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(246, 248, 246);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.75s, visibility 0.75s;
  }
  
  .loader::after{
    content: '';
    height: 90px;
    width: 90px;
    border: 10px solid #dddddd;
    border-top-color:var(--main-color) ;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
  }
  
  .loader--hidden{
    opacity:0;
    visibility: hidden;
  }
  