
.p-loader{
  top: 0;
  position: absolute;
  height: 100vh;
  background-color: #e8e7e7dd;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}