@keyframes shareBox {
    from{
        bottom: 0;
    }

    to{
        bottom:20%;

    }

    
}

.share-container{
    right: 0;
    background-color: white;
    width: fit-content;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    animation-name:shareBox ;
    animation-duration:1s;
    animation-fill-mode:forwards;
    padding: 0.3em 0.3em;
    box-shadow: -2px 0px 3px rgba(0, 0, 0, 0.311);
}