@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&family=Michroma&family=Public+Sans:wght@300;400;700&family=Roboto:wght@300;400&family=Rubik:wght@400;500;700&display=swap');
*, *::after, *::before{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  

}
html{
  scroll-behavior:smooth;
  overflow-x:hidden;
}
p{
  line-height: 1.5em;
}

:root{
  --main-color:#1AA875 ;
  --hover-color:#D3F7EA ;
  --gradient-color:#1aeb47 ;
  --icon-color:#CEFFED ;
  --low-rating-color: #A81A3C;
  --mid-rating-color:#CCBD36 ;
  --icon:#eefcf7 ;
}
